In [1]:
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import re

%matplotlib notebook

In [31]:
# Load all data from folder
import os

# Location of files
folder = 'price/'
tail = '.csv'
filenames = os.listdir(folder)
    
# Get the supplied coin name
coins = list(map(lambda x: re.sub(tail, '', x).upper(), filenames))

# Load data
df_list = []
for filename in filenames:
    df_list.append(pd.read_csv(folder + filename, delimiter='\t', index_col='Date'))
    # input(filename + ' loaded.\nEnter to proceed')    # Debug for file read errors.


# Clear up each list
for index, df in enumerate(df_list):
    # Drop all columns except Date and Market Cap 
    df = df.drop(['Open', 'High', 'Low', 'Close', 'Volume'], axis=1)
    # Convert Date column datatype to Date
    df.index = pd.to_datetime(df.index)    
    
    # Convert Market Cap column datatype to numeric
    df['Market Cap'] = df['Market Cap'].str.replace(',', '')    # Remove commas
    df = df[df['Market Cap'].str.contains('-') == False]        # Delete missing data
    df['Market Cap'] = pd.to_numeric(df['Market Cap'])
    
    # Replace previous dataframe
    df_list[index] = df 
    
del os

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, Dec 09, 2017 to Jul 23, 2017
Data columns (total 6 columns):
Open          140 non-null float64
High          140 non-null float64
Low           140 non-null float64
Close         140 non-null float64
Volume        140 non-null object
Market Cap    140 non-null object
dtypes: float64(4), object(2)
memory usage: 7.7+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 1687 entries, Dec 09, 2017 to Apr 28, 2013
Data columns (total 6 columns):
Open          1687 non-null float64
High          1687 non-null float64
Low           1687 non-null float64
Close         1687 non-null float64
Volume        1687 non-null object
Market Cap    1687 non-null object
dtypes: float64(4), object(2)
memory usage: 92.3+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 1397 entries, Dec 11, 2017 to Feb 14, 2014
Data columns (total 6 columns):
Open          1397 non-null float64
High          1397 non-null float64
Low           1397 non-null float64
Close         1397 non-null float64
Volume        1397 non-null object
Market Cap    1397 non-null object
dtypes: float64(4), object(2)
memory usage: 76.4+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 856 entries, Dec 09, 2017 to Aug 07, 2015
Data columns (total 6 columns):
Open          856 non-null float64
High          856 non-null float64
Low           856 non-null float64
Close         856 non-null float64
Volume        856 non-null object
Market Cap    856 non-null object
dtypes: float64(4), object(2)
memory usage: 46.8+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 180 entries, Dec 09, 2017 to Jun 13, 2017
Data columns (total 6 columns):
Open          180 non-null float64
High          180 non-null float64
Low           180 non-null float64
Close         180 non-null float64
Volume        180 non-null object
Market Cap    180 non-null object
dtypes: float64(4), object(2)
memory usage: 9.8+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 1687 entries, Dec 09, 2017 to Apr 28, 2013
Data columns (total 6 columns):
Open          1687 non-null float64
High          1687 non-null float64
Low           1687 non-null float64
Close         1687 non-null float64
Volume        1687 non-null object
Market Cap    1687 non-null object
dtypes: float64(4), object(2)
memory usage: 92.3+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 984 entries, Dec 09, 2017 to Apr 01, 2015
Data columns (total 6 columns):
Open          984 non-null float64
High          984 non-null float64
Low           984 non-null float64
Close         984 non-null float64
Volume        984 non-null object
Market Cap    984 non-null object
dtypes: float64(4), object(2)
memory usage: 53.8+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 1298 entries, Dec 09, 2017 to May 21, 2014
Data columns (total 6 columns):
Open          1298 non-null float64
High          1298 non-null float64
Low           1298 non-null float64
Close         1298 non-null float64
Volume        1298 non-null object
Market Cap    1298 non-null object
dtypes: float64(4), object(2)
memory usage: 71.0+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 1589 entries, Dec 09, 2017 to Aug 04, 2013
Data columns (total 6 columns):
Open          1589 non-null float64
High          1589 non-null float64
Low           1589 non-null float64
Close         1589 non-null float64
Volume        1589 non-null object
Market Cap    1589 non-null object
dtypes: float64(4), object(2)
memory usage: 86.9+ KB

In [29]:
# Print df info
for index, df in enumerate(df_list):
    print('[' + str(index) + '] Ticker: ' + coins[index])
    df.info()
    print('--'*25)
    print(df.head())
    print('><'*25)

[0] Ticker: BCH
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 130 entries, 2017-12-09 to 2017-08-02
Data columns (total 1 columns):
Market Cap    130 non-null int64
dtypes: int64(1)
memory usage: 2.0 KB
--------------------------------------------------
             Market Cap
Date
2017-12-09  24671600000
2017-12-08  22386700000
2017-12-07  24095900000
2017-12-06  25234400000
2017-12-05  26606900000
><><><><><><><><><><><><><><><><><><><><><><><><><
[1] Ticker: BTC
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1687 entries, 2017-12-09 to 2013-04-28
Data columns (total 1 columns):
Market Cap    1687 non-null int64
dtypes: int64(1)
memory usage: 26.4 KB
--------------------------------------------------
              Market Cap
Date
2017-12-09  276415000000
2017-12-08  297787000000
2017-12-07  238600000000
2017-12-06  199390000000
2017-12-05  195389000000
><><><><><><><><><><><><><><><><><><><><><><><><><
[2] Ticker: DASH
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1397 entries, 2017-12-11 to 2014-02-14
Data columns (total 1 columns):
Market Cap    1397 non-null int64
dtypes: int64(1)
memory usage: 21.8 KB
--------------------------------------------------
            Market Cap
Date
2017-12-11  5333190000
2017-12-10  5600430000
2017-12-09  5633100000
2017-12-08  5423040000
2017-12-07  5416260000
><><><><><><><><><><><><><><><><><><><><><><><><><
[3] Ticker: ETH
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 855 entries, 2017-12-09 to 2015-08-08
Data columns (total 1 columns):
Market Cap    855 non-null int64
dtypes: int64(1)
memory usage: 13.4 KB
--------------------------------------------------
             Market Cap
Date
2017-12-09  44005600000
2017-12-08  41845800000
2017-12-07  41007600000
2017-12-06  44483100000
2017-12-05  45212800000
><><><><><><><><><><><><><><><><><><><><><><><><><
[4] Ticker: IOTA
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 180 entries, 2017-12-09 to 2017-06-13
Data columns (total 1 columns):
Market Cap    180 non-null int64
dtypes: int64(1)
memory usage: 2.8 KB
--------------------------------------------------
             Market Cap
Date
2017-12-09  14029600000
2017-12-08  11512800000
2017-12-07  12416200000
2017-12-06  10593600000
2017-12-05   7778170000
><><><><><><><><><><><><><><><><><><><><><><><><><
[5] Ticker: LTC
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1687 entries, 2017-12-09 to 2013-04-28
Data columns (total 1 columns):
Market Cap    1687 non-null int64
dtypes: int64(1)
memory usage: 26.4 KB
--------------------------------------------------
            Market Cap
Date
2017-12-09  6910360000
2017-12-08  5327910000
2017-12-07  5415710000
2017-12-06  5548860000
2017-12-05  5644390000
><><><><><><><><><><><><><><><><><><><><><><><><><
[6] Ticker: XEM
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 984 entries, 2017-12-09 to 2015-04-01
Data columns (total 1 columns):
Market Cap    984 non-null int64
dtypes: int64(1)
memory usage: 15.4 KB
--------------------------------------------------
            Market Cap
Date
2017-12-09  6157700000
2017-12-08  2115340000
2017-12-07  2442770000
2017-12-06  2697300000
2017-12-05  2573250000
><><><><><><><><><><><><><><><><><><><><><><><><><
[7] Ticker: XMR
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1298 entries, 2017-12-09 to 2014-05-21
Data columns (total 1 columns):
Market Cap    1298 non-null int64
dtypes: int64(1)
memory usage: 20.3 KB
--------------------------------------------------
            Market Cap
Date
2017-12-09  4283550000
2017-12-08  4346000000
2017-12-07  4291850000
2017-12-06  4140770000
2017-12-05  3258360000
><><><><><><><><><><><><><><><><><><><><><><><><><
[8] Ticker: XRP
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1589 entries, 2017-12-09 to 2013-08-04
Data columns (total 1 columns):
Market Cap    1589 non-null int64
dtypes: int64(1)
memory usage: 24.8 KB
--------------------------------------------------
            Market Cap
Date
2017-12-09  9768540000
2017-12-08  8663460000
2017-12-07  9011630000
2017-12-06  9507190000
2017-12-05  9815990000
><><><><><><><><><><><><><><><><><><><><><><><><><

In [25]:
len_list = [len(df) for df in df_list]
coin_index = len_list.index(max(len_list))    # Find index of coin with oldest data

# Create new data frame with coins as columns
cc_df = pd.DataFrame([], columns=coins, index=df_list[coin_index].index)
for i in range(0, len(len_list)):
    cc_df[coins[i]] = df_list[i]['Market Cap']

In [27]:
cc_df

,BCH,BTC,ETH,IOTA,LTC,XEM,XMR,XRP
Date,,,,,,,,
2017-12-09,2.467160e+10,276415000000,4.400560e+10,1.402960e+10,6910360000,6.157700e+09,4.283550e+09,9.768540e+09
2017-12-08,2.238670e+10,297787000000,4.184580e+10,1.151280e+10,5327910000,2.115340e+09,4.346000e+09,8.663460e+09
2017-12-07,2.409590e+10,238600000000,4.100760e+10,1.241620e+10,5415710000,2.442770e+09,4.291850e+09,9.011630e+09
2017-12-06,2.523440e+10,199390000000,4.448310e+10,1.059360e+10,5548860000,2.697300e+09,4.140770e+09,9.507190e+09
2017-12-05,2.660690e+10,195389000000,4.521280e+10,7.778170e+09,5644390000,2.573250e+09,3.258360e+09,9.815990e+09
2017-12-04,2.626730e+10,189172000000,4.479570e+10,5.265070e+09,5486740000,2.494140e+09,3.079850e+09,9.768480e+09
2017-12-03,2.416360e+10,185258000000,4.456050e+10,4.004200e+09,5420380000,2.266360e+09,3.137680e+09,9.869310e+09
2017-12-02,2.461050e+10,183490000000,4.485330e+10,3.948800e+09,5351330000,2.159190e+09,2.943520e+09,9.874190e+09
2017-12-01,2.325710e+10,170436000000,4.276500e+10,3.639440e+09,4758600000,2.029370e+09,2.771380e+09,9.669290e+09
2017-11-30,2.323040e+10,165537000000,4.141190e+10,3.540700e+09,4662340000,1.965590e+09,2.627490e+09,9.517940e+09
2017-11-29,2.594180e+10,168367000000,4.544210e+10,4.117010e+09,5188580000,2.320920e+09,3.142680e+09,1.150450e+10
2017-11-28,2.727720e+10,164104000000,4.612720e+10,2.904130e+09,4955290000,2.039580e+09,2.701720e+09,9.811650e+09
2017-11-27,2.898680e+10,156221000000,4.525500e+10,2.348230e+09,4638580000,1.926100e+09,2.509520e+09,9.590240e+09
2017-11-26,2.643450e+10,146789000000,4.471210e+10,2.236470e+09,4801830000,1.964170e+09,2.595920e+09,9.768270e+09
2017-11-25,2.748490e+10,137632000000,4.563340e+10,2.189520e+09,4205220000,1.882040e+09,2.463190e+09,9.430850e+09
2017-11-24,2.778240e+10,134816000000,3.956430e+10,2.205530e+09,3946910000,1.811810e+09,2.441330e+09,9.379600e+09
2017-11-23,2.189940e+10,137444000000,3.657730e+10,2.494420e+09,3882950000,1.837210e+09,2.555950e+09,9.230520e+09
2017-11-22,1.975860e+10,134851000000,3.454400e+10,2.471570e+09,3785260000,1.830930e+09,2.184930e+09,8.985300e+09
2017-11-21,2.052510e+10,136967000000,3.522020e+10,2.683940e+09,3892860000,1.912860e+09,2.093010e+09,9.191390e+09
2017-11-20,1.971020e+10,134167000000,3.393340e+10,2.397820e+09,3849390000,1.816320e+09,1.990900e+09,8.934850e+09
2017-11-19,2.119620e+10,129595000000,3.328490e+10,2.269880e+09,3745710000,1.756380e+09,2.009180e+09,8.811410e+09
2017-11-18,2.012590e+10,128425000000,3.180070e+10,2.199170e+09,3631120000,1.741240e+09,1.945200e+09,8.749900e+09
2017-11-17,1.527900e+10,131026000000,3.162030e+10,2.309500e+09,3794080000,1.770370e+09,1.843600e+09,8.681190e+09
2017-11-16,2.020200e+10,122164000000,3.192730e+10,2.203300e+09,3435690000,1.748490e+09,1.861940e+09,8.213360e+09
2017-11-15,2.133560e+10,110667000000,3.235320e+10,1.695970e+09,3379200000,1.758620e+09,1.876740e+09,8.069730e+09
2017-11-14,2.262620e+10,109434000000,3.031730e+10,1.628970e+09,3317410000,1.729090e+09,1.896990e+09,7.866670e+09
2017-11-13,2.321470e+10,99029000000,2.937900e+10,1.651070e+09,3183830000,1.627880e+09,1.978840e+09,7.608890e+09
2017-11-12,2.261440e+10,104980000000,3.010620e+10,1.740210e+09,3351310000,1.720610e+09,1.834630e+09,8.099860e+09
2017-11-11,1.680740e+10,110362000000,2.855940e+10,1.395280e+09,3191150000,1.728040e+09,1.621800e+09,7.935490e+09
2017-11-10,1.093300e+10,119607000000,3.066520e+10,1.470620e+09,3463640000,1.993320e+09,1.860390e+09,8.409740e+09
...,...,...,...,...,...,...,...,...
2013-05-27,NaN,1495520000,NaN,NaN,58130800,NaN,NaN,NaN
2013-05-26,NaN,1478030000,NaN,NaN,56123900,NaN,NaN,NaN
2013-05-25,NaN,1489950000,NaN,NaN,57165800,NaN,NaN,NaN
2013-05-24,NaN,1413300000,NaN,NaN,56747200,NaN,NaN,NaN
2013-05-23,NaN,1384780000,NaN,NaN,55727000,NaN,NaN,NaN
2013-05-22,NaN,1374130000,NaN,NaN,55165300,NaN,NaN,NaN
2013-05-21,NaN,1363940000,NaN,NaN,56887600,NaN,NaN,NaN
2013-05-20,NaN,1368910000,NaN,NaN,58962900,NaN,NaN,NaN
2013-05-19,NaN,1376370000,NaN,NaN,58645400,NaN,NaN,NaN
2013-05-18,NaN,1379140000,NaN,NaN,56721100,NaN,NaN,NaN
2013-05-17,NaN,1319590000,NaN,NaN,51195900,NaN,NaN,NaN
2013-05-16,NaN,1274620000,NaN,NaN,51790900,NaN,NaN,NaN
2013-05-15,NaN,1242760000,NaN,NaN,49842500,NaN,NaN,NaN
2013-05-14,NaN,1315720000,NaN,NaN,57812000,NaN,NaN,NaN
2013-05-13,NaN,1279980000,NaN,NaN,57363200,NaN,NaN,NaN
2013-05-12,NaN,1288630000,NaN,NaN,59052900,NaN,NaN,NaN
2013-05-11,NaN,1311050000,NaN,NaN,60658000,NaN,NaN,NaN
2013-05-10,NaN,1255970000,NaN,NaN,59588000,NaN,NaN,NaN
2013-05-09,NaN,1259980000,NaN,NaN,59337100,NaN,NaN,NaN
2013-05-08,NaN,1219450000,NaN,NaN,57196300,NaN,NaN,NaN
2013-05-07,NaN,1248470000,NaN,NaN,58588300,NaN,NaN,NaN
2013-05-06,NaN,1289470000,NaN,NaN,62356000,NaN,NaN,NaN
2013-05-05,NaN,1254760000,NaN,NaN,60525000,NaN,NaN,NaN
2013-05-04,NaN,1089890000,NaN,NaN,52476400,NaN,NaN,NaN
2013-05-03,NaN,1180070000,NaN,NaN,58607400,NaN,NaN,NaN
2013-05-02,NaN,1292190000,NaN,NaN,65242700,NaN,NaN,NaN
2013-05-01,NaN,1542820000,NaN,NaN,73901200,NaN,NaN,NaN
2013-04-30,NaN,1597780000,NaN,NaN,75726800,NaN,NaN,NaN
2013-04-29,NaN,1491160000,NaN,NaN,74952700,NaN,NaN,NaN
2013-04-28,NaN,1500520000,NaN,NaN,73773400,NaN,NaN,NaN

In [4]:
# Group by group_period
group_period = '7D'
months = df_list[coin_index].resample(group_period).mean()
months_df = [df.resample(group_period).mean() for df in df_list]

In [38]:
# Display 
import sys
for i in range(3,30):
    out_str = 'Parsing' + '.'*(3%i)
    sys.stdout.write(out_str)
    sys.stdout.flush()

ParsingParsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...Parsing...

In [5]:
# Create new df with coins as columns
len_list = [len(df) for df in df_list]
coin_index = len_list.index(max(len_list))

cc_df = pd.DataFrame([], columns=coins, index=months_df[coin_index].index)

for index, df in enumerate(months_df):
    cc_df[coins[index]] = df['Market Cap']

In [6]:
# Load total market cap data
market_cap_df = pd.read_csv('data/total_market_cap.csv', index_col='Date')
market_cap_df.index = pd.to_datetime(market_cap_df.index)
cap_resampled_df = market_cap_df.resample(group_period).mean()

# Add total market cap to cc_df as Total
cc_df['Total'] = cap_resampled_df['Total Market Cap']

In [7]:
# Reverse data, newest first
cc_df = cc_df[::-1]

In [ ]:
# Plot data for Dec 2017, 0th row      ## TODO SEVEN DAYS
from matplotlib.dates import *

row_data = cc_df.iloc[0][coins]
row_date = row_data.name.strftime('%b-%Y')

ax = sns.barplot(coins, row_data)
#plt.title('Market Cap')
#plt.show()

In [8]:
cc_df

,BCH,BTC,ETH,IOTA,LTC,XEM,XMR,XRP,Total
Date,,,,,,,,,
2017-12-03,NaN,2.260016e+11,NaN,NaN,5.679193e+09,NaN,NaN,9.486371e+09,333819550755
2017-11-26,NaN,1.649920e+11,NaN,NaN,4.908079e+09,NaN,NaN,9.962297e+09,283044222782
2017-11-19,NaN,1.350674e+11,NaN,NaN,3.901186e+09,NaN,NaN,9.137703e+09,233808481293
2017-11-12,NaN,1.151036e+11,NaN,NaN,3.441806e+09,NaN,NaN,8.184229e+09,200964455665
2017-11-05,NaN,1.195684e+11,NaN,NaN,3.163411e+09,NaN,NaN,8.053820e+09,199892277706
2017-10-29,NaN,1.082057e+11,NaN,NaN,2.972110e+09,NaN,NaN,7.794223e+09,170353228043
2017-10-22,NaN,9.734221e+10,NaN,NaN,3.008546e+09,NaN,NaN,7.859583e+09,171118712167
2017-10-15,NaN,9.540121e+10,NaN,NaN,3.320006e+09,NaN,NaN,9.092029e+09,174076873613
2017-10-08,NaN,8.200486e+10,NaN,NaN,2.874123e+09,NaN,NaN,9.950659e+09,150083109278
2017-10-01,NaN,7.207339e+10,NaN,NaN,2.816950e+09,NaN,NaN,8.210754e+09,146923833358
2017-09-24,NaN,6.596351e+10,NaN,NaN,2.754951e+09,NaN,NaN,7.194511e+09,129781697763
2017-09-17,NaN,6.239009e+10,NaN,NaN,2.662990e+09,NaN,NaN,6.880711e+09,120623655855
2017-09-10,NaN,6.466520e+10,NaN,NaN,3.094441e+09,NaN,NaN,7.635877e+09,141441127806
2017-09-03,NaN,7.376467e+10,NaN,NaN,3.909261e+09,NaN,NaN,8.421194e+09,166644412610
2017-08-27,NaN,7.521697e+10,NaN,NaN,3.459620e+09,NaN,NaN,8.718546e+09,156420433956
2017-08-20,NaN,6.893884e+10,NaN,NaN,2.556369e+09,NaN,NaN,7.870160e+09,145648855301
2017-08-13,NaN,6.914904e+10,NaN,NaN,2.374110e+09,NaN,NaN,6.302007e+09,135686106789
2017-08-06,NaN,5.568117e+10,NaN,NaN,2.454214e+09,NaN,NaN,7.010839e+09,111842319301
2017-07-30,NaN,4.591713e+10,NaN,NaN,2.211856e+09,NaN,NaN,6.581429e+09,88658230462
2017-07-23,NaN,4.447134e+10,NaN,NaN,2.255679e+09,NaN,NaN,6.963554e+09,95993194419
2017-07-16,NaN,3.822074e+10,NaN,NaN,2.222689e+09,NaN,NaN,6.725103e+09,68942981658
2017-07-09,NaN,3.948396e+10,NaN,NaN,2.461486e+09,NaN,NaN,7.927590e+09,96408401609
2017-07-02,NaN,4.185853e+10,NaN,NaN,2.467909e+09,NaN,NaN,9.733820e+09,94716493346
2017-06-25,NaN,4.180714e+10,NaN,NaN,2.178707e+09,NaN,NaN,1.078583e+10,109204337569
2017-06-18,NaN,4.368160e+10,NaN,NaN,2.464266e+09,NaN,NaN,1.140880e+10,112023564520
2017-06-11,NaN,4.396213e+10,NaN,NaN,1.624420e+09,NaN,NaN,1.013843e+10,110011644694
2017-06-04,NaN,4.439550e+10,NaN,NaN,1.509470e+09,NaN,NaN,1.119639e+10,90751855973
2017-05-28,NaN,3.703014e+10,NaN,NaN,1.329197e+09,NaN,NaN,9.627089e+09,73276551382
2017-05-21,NaN,3.640113e+10,NaN,NaN,1.458410e+09,NaN,NaN,1.175671e+10,72005640042
2017-05-14,NaN,2.981724e+10,NaN,NaN,1.371141e+09,NaN,NaN,1.177281e+10,55167232636
...,...,...,...,...,...,...,...,...,...
2013-11-17,NaN,7.411704e+09,NaN,NaN,1.765699e+08,NaN,NaN,7.283776e+07,5703249718
2013-11-10,NaN,4.487427e+09,NaN,NaN,9.459506e+07,NaN,NaN,7.353964e+07,3972643650
2013-11-03,NaN,3.061681e+09,NaN,NaN,7.827113e+07,NaN,NaN,6.200524e+07,2593828481
2013-10-27,NaN,2.359083e+09,NaN,NaN,5.059633e+07,NaN,NaN,4.814120e+07,2276740217
2013-10-20,NaN,2.244573e+09,NaN,NaN,4.412819e+07,NaN,NaN,5.670161e+07,2156966866
2013-10-13,NaN,1.702060e+09,NaN,NaN,4.435743e+07,NaN,NaN,6.480604e+07,1739052069
2013-10-06,NaN,1.523271e+09,NaN,NaN,4.512184e+07,NaN,NaN,7.400649e+07,1659752203
2013-09-29,NaN,1.520000e+09,NaN,NaN,4.864473e+07,NaN,NaN,8.320166e+07,1801705464
2013-09-22,NaN,1.512466e+09,NaN,NaN,5.275366e+07,NaN,NaN,8.685274e+07,1647606824
2013-09-15,NaN,1.525497e+09,NaN,NaN,5.514276e+07,NaN,NaN,6.856169e+07,1631369963
2013-09-08,NaN,1.506094e+09,NaN,NaN,5.705740e+07,NaN,NaN,4.867866e+07,1563491508
2013-09-01,NaN,1.527727e+09,NaN,NaN,5.556583e+07,NaN,NaN,4.452393e+07,1703496662
2013-08-25,NaN,1.437464e+09,NaN,NaN,5.363971e+07,NaN,NaN,4.742963e+07,1511079645
2013-08-18,NaN,1.373644e+09,NaN,NaN,5.687454e+07,NaN,NaN,4.377647e+07,1424107173
2013-08-11,NaN,1.247601e+09,NaN,NaN,5.474583e+07,NaN,NaN,3.067573e+07,1296558595
2013-08-04,NaN,1.210927e+09,NaN,NaN,5.690993e+07,NaN,NaN,3.908903e+07,1275693626
2013-07-28,NaN,1.177916e+09,NaN,NaN,5.815911e+07,NaN,NaN,NaN,1157533995
2013-07-21,NaN,1.074116e+09,NaN,NaN,5.772974e+07,NaN,NaN,NaN,1097986535
2013-07-14,NaN,1.090896e+09,NaN,NaN,5.813394e+07,NaN,NaN,NaN,1161533246
2013-07-07,NaN,9.261224e+08,NaN,NaN,5.164014e+07,NaN,NaN,NaN,830146595
2013-06-30,NaN,9.711563e+08,NaN,NaN,5.290223e+07,NaN,NaN,NaN,1147557238
2013-06-23,NaN,1.168810e+09,NaN,NaN,5.492800e+07,NaN,NaN,NaN,1287573810
2013-06-16,NaN,1.191539e+09,NaN,NaN,4.347420e+07,NaN,NaN,NaN,1177742456
2013-06-09,NaN,1.186197e+09,NaN,NaN,4.390924e+07,NaN,NaN,NaN,1199680597
2013-06-02,NaN,1.358579e+09,NaN,NaN,5.056151e+07,NaN,NaN,NaN,1487465388
2013-05-26,NaN,1.464011e+09,NaN,NaN,5.554451e+07,NaN,NaN,NaN,1548982054
2013-05-19,NaN,1.395911e+09,NaN,NaN,5.704303e+07,NaN,NaN,NaN,1448321940
2013-05-12,NaN,1.300063e+09,NaN,NaN,5.482550e+07,NaN,NaN,NaN,1367920068
2013-05-05,NaN,1.262736e+09,NaN,NaN,5.974981e+07,NaN,NaN,NaN,1341783003
2013-04-28,NaN,1.384919e+09,NaN,NaN,6.781151e+07,NaN,NaN,NaN,1596170359

In [ ]:
from matplotlib.dates import DateFormatter

ax = cc_df.plot(x=cc_df.index, y=coins, kind='bar', figsize=(8,4))
plt.ylabel('Market Cap')
plt.xlabel('Date')

drange = pd.date_range(min(cc_df.index), max(cc_df.index) + pd.offsets.MonthEnd(), freq='M')
ax.get_xaxis().set_ticks(drange)
ax.get_xaxis().set_major_formatter(DateFormatter('%Y-%b'))
ax.xaxis_date()
ax.autoscale()
plt.setp(plt.gca().get_xticklabels(), rotation=45, horizontalalignment='right')
plt.show()

In [ ]:
# Plot Benford's Law
def benfords_prob(d):
    return np.log10(1+1/d)

benfords_10 = [benfords_prob(i) for i in range(1, 11)]

In [ ]:
fig, ax = plt.subplots(figsize=(8,4))
sns.barplot([x for x in range(1,11)], benfords_10, palette='Blues_r')

# Add percentage text to top of bar
for r in ax.patches:
    height = r.get_height()
    ax.text(r.get_x()+r.get_width()/2.,    # x-pos of text
            height + 0.01,                 # y-pos of text
            '{:3.1f}%'.format(height*100), # text string
            ha="center") 
    
# Change y limits and display as percentages
ax.set_ylim(0, 0.35)  
vals = ax.get_yticks()
ax.set_yticklabels(['{:2.0f}%'.format(x*100) for x in vals])
ax.autoscale_view()

plt.title('Benford Distribution')
plt.show()